<div class="result_container" >

  <div class="result_container__buttons">
    <div class="result_container__buttons-pdf btn" (click)='saveToPdf()'>Сохранить в PDF</div>
    <div class="result_container__buttons-pdf btn" (click)='reload()'>Сбросить результат</div>
    <div class="lds-dual-ring" *ngIf="load"></div>
  </div>
  
  <div class="result_container__info" *ngIf="info">
    <span class="result_container__info-name">{{info.companyName}}</span>
    <span class="result_container__info-industry">{{info.industry}}</span>
  </div>

  <div class="result_container__table">
    <table id="table">
      <ng-container *ngFor="let table of tables">
        <ng-container *ngFor="let subtable of table.subtables; let subtableIndex = index">
          <tr class="result_container__table-row">
            
            <td [attr.rowspan]="table.subtables.length"
                *ngIf="subtableIndex === 0"
                class="result_container__table-column ">
                <div class="table-title">{{table.title}}</div>
            </td>
            
            <td class="result_container__table-column subtable-title">
              <div>{{subtable.subtitle}}</div>
            </td>
            
            <ng-container *ngFor="let question of subtable.questions">
              <td class="result_container__table-column question"
                  [style.background]="question.color || '#a9d08e'"
              >
                <div>{{question.text}}</div>
                <div class="answer" 
                     *ngIf="question.color && question.color != '#a9d08e'">
                     <span class="req">
                       *Совет:
                      </span>
                      {{question.answer}}
                </div>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>
</div>

