@import "../../style/colors.scss";

.result_container {
    display: flex;
    flex-direction: column;

    &__buttons {
        display: flex;
        margin: 10px 0;     
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin: 10px 0;

        &-name, &-industry {
            padding: 0 10px;
            margin: 10px 0;
            border-left: 4px solid $dark;
        }
    }

    &__table {
        overflow-x: auto;
        
        table {
            border-collapse: collapse;
            border: 1px solid grey;
        }
    
        &-row {
            border: 1px solid grey;
        }

        &-column {
            border: 1px solid grey;
        }
    }
}

td {
    text-align: center
}

.table-title {
    width: 30px;
    margin: 10px 0;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.question {
    text-align: justify;
    padding: 10px;
    vertical-align: top;
    width: 22%;
    
    .answer {
        margin-top: 10px;
        text-align: justify;
    }
}

.req {
    color: red;
}

.btn {
    padding: 10px 15px;
    box-shadow: 0 0 5px $main;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;


    &:first-child {
        margin-left: 0;
    }

    &:active {
        box-shadow: inset 0 0 5px $main;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 38px;
    height: 38px;
  }
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 26px;
    height: 26px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $main;
    border-color: $main transparent $main transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


