@import "../../style/colors.scss";

.main__container {

    &__colors {
        display: flex;

        &-color {
            border-radius: 3px;
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin: 10px;
        }

        &-color:first-child {
            margin-left: 0
        }
    }
}

.selected {
    box-shadow: 0 0 5px $dark;
}