<div class="main__container">
  <div class="main__container__colors">
    <div class="main__container__colors-color" 
         *ngFor="let item of colors"
         (click)="pickColor(item)"
         [style.background]="item.color"
         [class.selected]="item.selected">
    </div>
  </div>
</div>