<div class='main__container'>

  <form class="main__container__about-company-form" [formGroup]="aboutCompanynForm">

      <span class="main__container__about-company-form-title">О компании</span>

      <mat-form-field>
          <mat-label>Название компании</mat-label>
          <input matInput formControlName="companyName" [errorStateMatcher]="myErrorStateMatcher" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
          <mat-label>Процесс</mat-label>
          <mat-select formControlName="industry" [errorStateMatcher]="myErrorStateMatcher">
              <mat-option *ngFor="let industry of industrys" [value]="industry.name">
                  {{industry.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
  </form>

    <form class="main__container__contacts-form" [formGroup]="contactDetails">
  
        <span class="main__container__contacts-form-title">Контактные данные</span>
  
        <mat-form-field>
            <mat-label>ФИО</mat-label>
            <input matInput formControlName="fio" [errorStateMatcher]="myErrorStateMatcher" autocomplete="off">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" [errorStateMatcher]="myErrorStateMatcher" autocomplete="off">
        </mat-form-field>
    </form>

    <button mat-button class="main__container-btn" (click)="next()" [disabled]="disabled">
        Дальше
    </button>
</div>