@import "../../style/colors.scss";

.main__container {

    &__about-company-form {
        display: flex;
        flex-direction: column;

        &-title {
            margin: 5px 0;
            border-left: 4px solid $dark;
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: bold;
            color: $main;
            padding: 10px;
        }
    }

    &__contacts-form {
        display: flex;
        flex-direction: column;

        &-title {
            margin: 5px 0;
            border-left: 4px solid $dark;
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: bold;
            color: $main;
            padding: 10px;
          }
    }

    &-btn {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: $main;
    }
}