<div class="main-container">

  <div class="main-container__background">
    <div class="main-container__background-first"></div>
    <div class="main-container__background-second"></div>
  </div>
  
  <div class="main-container__router-container">
    <div class="main-container__router-container-router">
        <router-outlet></router-outlet>
    </div>
     
  </div>

</div>


