@import "style/colors.scss";

.main-container {
    min-width: 600px;

    &__background {
        position: absolute;
        top: 0;
        z-index: -1;
        min-width: 600px;
        width: 100%;
     
        &-first {
            background: $main;
            height: 300px;
        }
    }

    &__router-container {
      display: flex;
      margin-top: 200px;

      &-router {
          box-shadow: 0 0 5px rgba(0,0,0,.3);
          margin: 0 auto;
          margin-bottom: 10px;
          width: 100%;
          max-width: 1200px;
      }
    }
}