<div class="main_container">
   <mat-horizontal-stepper labelPosition="bottom" #stepper linear >
        <mat-step [editable]="false" label="Заполните форму" state="chat" [stepControl]="firstStepControl">
                <app-data-form (onNext)="stepper.next()"></app-data-form>
        </mat-step>
        <mat-step [editable]="false" label="Тест" state="poll">
                <app-main-table (onNext)="stepper.next()"></app-main-table>
        </mat-step>
        <mat-step [editable]="false" label="Результат" state="done_all">
                <app-result></app-result>
        </mat-step>
   </mat-horizontal-stepper>
</div>

<ng-template matStepperIcon="chat">
        <mat-icon>chat</mat-icon>
</ng-template>
<ng-template matStepperIcon="table">
        <mat-icon>poll</mat-icon>
</ng-template>
<ng-template matStepperIcon="done_all">
        <mat-icon>done_all</mat-icon>
</ng-template>