@import "../../style/colors.scss";

.main__container {
    
    &-title {
        border-left: 4px solid $dark;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: $main;
    }

    &__questions {
        margin: 10px 0;

        &-question {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }
    }

    &-btn {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: $main;
    }
}
