<div class="main__container" *ngIf="subtable">
  
  <h3 class="main__container-title">{{title}}</h3>

  <div class="main__container__questions" *ngFor="let question of subtable.questions">
    
    <div class="main__container__questions-question">
      <div class="main__container__questions-question__text">{{question.text}}</div>
      <app-color-picker (colorEmiter)="setColor($event, question)"></app-color-picker>
    </div>
  </div>

  <button mat-button class="main__container-btn" (click)="next()" [disabled]="disabled" *ngIf="tableIndex !== tableLength">
    Дальше
  </button>

  <button mat-button class="main__container-btn" (click)="next()" [disabled]="disabled" *ngIf="tableIndex === tableLength">
    Результаты
  </button>
</div>
