<div class="main_container">
  <mat-horizontal-stepper labelPosition="bottom" #stepper linear>
    <ng-container *ngFor="let table of tables">
      <mat-step [editable]="false" *ngFor="let subtable of table.subtables" #step [stepControl]="controls[table.id+subtable.subtableId]">
        <app-subtable [subtable]="subtable"
                      [title]="table.title + '. ' +  subtable.subtitle"
                      [control]="controls[table.id+subtable.subtableId]"
                      [tableLength]="tableLength - 1"
                      [tableIndex]="subtable.index"
                      (onNext)="stepper.next()"
                      (onLast)="next()">
        </app-subtable>
      </mat-step>
    </ng-container>
  </mat-horizontal-stepper>
</div>